! ===================
!       urxvt
! ===================

URxvt*scrollBar:	    false
URxvt*letterSpace:  	-1
URxvt.internalBorder: 10
URxvt*font: 		      xft:Menlo for Powerline:regular:size=11
URxvt*boldFont:		    xft:Menlo for Powerline:bold:size=11
URxvt*cursorBlink:    true
URxvt.iso14755:		    false
URxvt*utf8:			      true
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-parenright: resize-font:smaller

! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

! Prevent Auto Scroll
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

! =================
!       Xft
! =================
Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			      subpixel
Xft.hinting:       	true
Xft.hintstyle:		  hintslight
! Xft.lcdfilter:	  lcddefault

Xcursor.size: 9

! ============
!   Couleurs
! ============
*.foreground:   #C0CAF5
*.background:   #172030
*.secondary:  #444B6A
*.highlight: #f78166
*.inactive: #3D59A1
*.theme: #33a5f6
*.urgent: #DB4B4B
*.active:     #C0CAF5


*.cursorColor:  #C0CAF5
* fading: 20
*fadeColor: #5A638C

*.color0:                #6878A6
*.color8:                #5d6791
*.color1:                #DB4B4B
*.color9:                #A6333F
*.color2:                #9ECE6A
*.color10:               #9ECE6A
*.color3:                #E0AF68
*.color11:               #BBA461
*.color4:                #7AA2F7
*.color12:               #6D91DE
*.color5:                #BB9AF7
*.color13:               #9D7CD8
*.color6:                #41A6B5
*.color14:               #449DAB
*.color7:                #C0CAF5
*.color15:               #9AA5CE