[core]
	excludesFile = ~/.gitignore
	autocrlf = input
	editor = vim
[user]
	name = Alfred MOUELLE
	email = alfredmouelle@gmail.com
[fetch]
	prune = true
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[safe]
	directory = /opt/flutter
